body{
  background-color: #CDF0EA;

}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #371B58;
  border-width: 5px;
  width: 5%;
}
h1
{
  color: #371B58;
}
h3
{
  color: #371B58;
}
